<div class="container" ng-controller="allCatalogsCtrl">
  <section class="row">
    <div ng-repeat="d in logo">
      <div ng-repeat="a in d">
        <div class="list-group">
        <div class="col-xs-4 col-sm-3 col-md-2" style="width: 230px;">
          <button type="button" class="list-group-item"><img  ng-src="{{a.logoPath}}" width="100px;" height="100px;"></button>
          <button type="button" class="list-group-item">
            <p> {{a.catalogName}} </p>
            <p> {{a.catalogCategory}} </p>
            <p> {{a.creationDate}} </p>
            <p> From: {{a.startDate}} </p>
            <p> To: {{a.endDate}} </p>
            <p ng-show> {{a.id}} </p>
            <p ng-show> {{a.user_id}} </p>
          </button>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="catalogNbLikes(a.id,a.user_id)">
                <div ng-if= "a.nbLikes >= 1000">
                    {{a.nbLikes/1000}} K <i class="fa fa-thumbs-up"></i>
                </div>
                <div ng-if= "a.nbLikes < 1000">
                    {{a.nbLikes}} <i class="fa fa-thumbs-up"></i>
                </div>
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="catalogNbLikes(a.id,a.user_id)">
                <div ng-if= "a.nbLikes >= 1000">
                    {{a.nbLikes/1000}} K <i class="fa fa-thumbs-down"></i>
                </div>
                <div ng-if= "a.nbLikes < 1000">
                    {{a.nbLikes}} <i class="fa fa-thumbs-down"></i>
                </div>
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default">
                <div ng-if= "a.nbViews >= 1000">
                   {{a.nbViews/1000}} K <i class="fa fa-eye"></i>
                </div>
                <div ng-if= "a.nbViews < 1000">
                    {{a.nbViews}}  <i class="fa fa-eye"></i>
                </div>
              </button>
            </div>
          </div>
          </div>    
        </div>
      </div>
    </div>
  </section>
</div>

