<!DOCTYPE html>
<html lang="en">
  <head>
    <title> {{title}} </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="../lib/js/jquery.min.js"></script>
    <script src="../lib/js/bootstrap.min.js"></script>
    <link  href="../lib/bootstrap/bootstrap.min.css" rel="stylesheet"> 
    <link  href="css/index.css" rel="stylesheet"> 
    <link  href="css/user_profile.css" rel="stylesheet">
    <link href="../lib/font-awesome-4.4.0/font-awesome-4.4.0/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/bootstrap/bootstrap-social.css" rel="stylesheet">
    <script src="../lib/js/angular.min.js"></script>
    <script src="../lib/js/angular-sanitize.js"></script>
    <script src="../lib/js/angular-ui-router.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="js/controllers/companyCtrl.js"></script>
    <script src="js/controllers/createCatalogCtrl.js"></script>
    <script src="js/controllers/createArticleCtrl.js"></script>
    <script src="js/controllers/articlesUploadCtrl.js"></script>
    
    <script>
      $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
           isClosed = false;

          trigger.click(function () {
            hamburger_cross();      
          });

          function hamburger_cross() {

            if (isClosed == true) {          
              overlay.hide();
              trigger.removeClass('is-open');
              trigger.addClass('is-closed');
              isClosed = false;
            } else {   
              overlay.show();
              trigger.removeClass('is-closed');
              trigger.addClass('is-open');
              isClosed = true;
            }
          }
          $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
          });  
      });
    </script>
   

    
  </head>
  <body ng-app="app">
       <div id="wrapper">
        <div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation" ng-controller="companyCtrl">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       {{items.username}} 
                    </a>
                </li>  
                 <li>
                    <a ui-sref=".catalogs.all">All Catalogs</a>
                </li>   
                <li>
                    <a ui-sref=".catalogs.show">My Catalogs</a>
                </li>
                <li>
                    <a href="#">Edit my personnal informations</a>
                </li>
                <li>
                    <a ui-sref="companyProfile.create.new">Create catalog</a>
                </li>
                <li>
                    <a ui-sref="logout">logout</a>
                </li>
                <div class="infoUser text-center" style="margin-top:50px;">
                  <p style="font-family: Comic Sans MS, cursive, sans-serif;color:white;"> Email: {{items.email}} </p>
                  <p style="font-family: Comic Sans MS, cursive, sans-serif;color:white;"> company name: {{items.username}} </p>
                   <p style="font-family: Comic Sans MS, cursive, sans-serif;color:white;"> company Phone: {{items.companyPhone}} </p>
                    <p style="font-family: Comic Sans MS, cursive, sans-serif;color:white;"> company Adress: {{items.companyAdress}} </p>
                </div>
            </ul>
                        
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <img src="http://www.fenero.com/wp-content/uploads/2014/12/images/menu-button.png"></img>
            </button>
            <div class="container"> 
             <div ui-view class="fade-in-up"></div>                
            </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
  </body>
</html>