<section class="row"  ng-controller="createCatalogCtrl">
<div class="col-lg-offset-3 col-lg-4">
<form class="col-lg-12">
	<div class="input-group">
	     <span class="input-group-addon"><i class="fa fa-book"></i></span>
	     <input  type="text" class="form-control" name="catalogName" placeholder="catalog Name" ng-model="catalogName">
	</div>
	<div class="form-group">
	  <select class="form-control"  ng-model="catalogCategory">
	  	<option  value="">Select catalog category</option>
	    <option value="Electronics">Electronics</option>
	    <option value="Meubles">Meubles</option>
	    <option value="Foods">Foods</option>
	    <option value="Phones">Phones</option>
	  </select>
	</div>
	<div class="input-group">
	     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	     <input class="form-control" type="date" name="catalogStartDate" placeholder="start date " ng-model="startDate" >
	</div>
	<div class="input-group">
	     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	     <input class="form-control" type="date" name="catalogEndDate" placeholder="end date " ng-model="endDate">
	</div>
	<div class="input-group">
	<span class="input-group-addon"><i class="fa fa-camera"></i></span>
		<input type="file"  class="form-control"  ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required>
	</div>
	<div class="input-group col-lg-offset-2 col-lg-12">
		<button type="button" class="btn btn-primary col-lg-6" ng-click='createCatalog(picFile,catalogName,catalogCategory,startDate,endDate)'>Create</button>
	</div>
	<div ng-show='success'>
		<p> {{success}} </p>
	</div>
</form>
</div>
</section>
</body>
</html>

 