<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="../lib/js/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="../lib/js/bootstrap.min.js"></script>
	  <link  href="../lib/bootstrap/bootstrap.min.css" rel="stylesheet"> 
	  <link  href="css/index.css" rel="stylesheet"> 
    <link  href="css/user_profile.css" rel="stylesheet">
	  <link href="../lib/font-awesome-4.4.0/font-awesome-4.4.0/css/font-awesome.css" rel="stylesheet">
	  <link href="../lib/bootstrap/bootstrap-social.css" rel="stylesheet">
	  <script src="../lib/js/angular.min.js"></script>
	  <script src="../lib/js/angular-sanitize.js"></script>
	  <script src="../lib/js/angular-ui-router.min.js"></script>
	  <script src="../js/app.js"></script>
    <style type="text/css">
      [class*="col"] { margin-bottom: 20px;height: 150px; }
      img { width: 100%; }
      body { margin-top: 10px; }
    </style>

    <script>
      $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
           isClosed = false;

          trigger.click(function () {
            hamburger_cross();      
          });

          function hamburger_cross() {

            if (isClosed == true) {          
              overlay.hide();
              trigger.removeClass('is-open');
              trigger.addClass('is-closed');
              isClosed = false;
            } else {   
              overlay.show();
              trigger.removeClass('is-closed');
              trigger.addClass('is-open');
              isClosed = true;
            }
          }
          $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
          });  
      });
    </script>
  </head>
  <body ng-app="app">
       <div id="wrapper">
        <div class="overlay"></div>
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       {{items.username}} profile
                    </a>
                </li>
                  <img ng-src="https://cdn1.iconfinder.com/data/icons/customicondesign-mini-deepcolour-png/48/User.png"  style="width:40px;height:40px;margin-left:90px;"/>
               
                <li>
                    <a href="#">All Catalogs</a>
                </li>
                <li>
                    <a href="#">Edit Personnal informations</a>
                </li>
                <li>
                    <a>Create catalog</a>
                </li>
                <li>
                    <a ui-sref="logout">logout</a>
                </li>
                <div class="infoUser text-center" style="margin-top:50px;">
                  <p style="font-family: Comic Sans MS, cursive, sans-serif;color:white;"> Email: {{items.email}} </p>
                  <p style="font-family: Comic Sans MS, cursive, sans-serif;color:white;"> Username: {{items.username}} </p>
                </div>
            </ul>
                        
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <img src="http://www.fenero.com/wp-content/uploads/2014/12/images/menu-button.png"></img>
            </button>
        </div>
        <div ui-view class="fade-in-up" style="width:100%;height:300px;margin-top:80px;"></div>
        <!-- /#page-content-wrapper -->
    </div>
  </body>
</html>